/* .image3{
  margin-left: 15px;
   margin-top: 15px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.image2{
  margin-left: 15px;
   margin-top: 15px;
  width: 39px;
  height: 39px;
  color: rgb(1, 1, 11);
  cursor: pointer;
}
.image1{
  margin-left: 700px;
   margin-top: 15px;
   width: 39px;
   height: 39px;
   color: rgb(1, 1, 11);
   cursor: pointer;
} */